/* styles go here */

.fieldset:first-child {
  margin-top: 10px;
  margin-left: 10px;
}

.fieldset:not(:first-child) {
  margin-top: 20px;
}

.form-field {
  margin-left: 10px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.submit {
  margin-left: 20px;
}
